body{
  background-color:bisque;
}
h1{
  background-color: red;
  color: white;
  text-align: center;}
   #one{
   font-size: 20px;
   color: blue;
   display: inline;
   margin: 10px;}
     #tow{
   font-size: 20px;
   color: blue;
   display: inline;
   margin: 10px;}
    
 footer{
   text-align: center;
   background-color: red;
   color: white;
   font-size: 18px;
 }
 #first_P{
   font-family:'Times New Roman', Times, serif;
   font-size: 15px;
   color: gray;
 }
 .secound_p{
    font-family:'Times New Roman', Times, serif;
   font-size: 15px;
   color: gray;
 }
